label {
  color: #49274A;
  font-size: 20px;
  font-weight: bolder;
}

input {
  margin-left: 8px;
  margin-right: 8px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #49274A;
  border-radius: 4px;
  background-color: #F8EEE7;
  color: #94618E;
  font-size: 20px;
  font-weight: bolder;
}

input:focus {
  border: 3px solid #F8EEE7;
}

button {
  background-color: #49274A;
  border: 2px solid #94618e;
  border-radius: 4px;
  color: #F4DECB;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 20px;
}

button:hover {
  background-color: #F8EEE7;
  color: #49274A;
}