
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: lightseagreen;
  color: black;
  font-weight: bolder;
}

input:focus {
  border: 3px solid #555;
}

button {
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}