* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

nav {
  background-color: #49274A;
  /* padding: 20px; */
  margin: 0;
  overflow: hidden;
}

nav div {
  align-items: center;
}

nav ul {
  padding: 0;
  float: left;
}

nav li {
  margin: 0;
  text-align: center;
  /* padding: 14px 16px; */
  font-size: 17px;
  display: inline;
}

nav li a {
  color: #F8EEE7;  
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  /* display: inline-block; */
}

nav li a:hover {
  color: #94618E;
}

nav li a:active {
  color: #94618E;
}

.authLink a {
  color: #F8EEE7;
}
