* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

nav {
  background-color: #49274A;
  margin: 0;
  overflow: hidden;
}

nav div {
  align-items: center;
}

nav ul {
  padding: 0;
  float: left;
}

nav li {
  margin: 0;
  text-align: center;
  font-size: 17px;
  display: inline;
}

nav li a {
  color: #F8EEE7;  
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

nav li a:hover {
  color: #94618E;
}

nav li a:active {
  color: #94618E;
}

.authLink a {
  color: #F8EEE7;
}

@media (max-width: 500px) {
  .small-menu-className {
    display: inline-block;
    text-align: center;
  }

  .small-menu-className i {
    color: white;
    padding: 5px;
  }

  .small-menu-className a {
    padding: 4px;
    font-size: 14px;
  }

  .small-menu-className li {
    display: block;
    margin-left: 0;
    padding: 5px 0;
  }
}

